.carousel {
  height: 440px;

  .carousel-inner {
    background-color: #ddd;
  }

  .carousel-item {
    background-color: #ddd;

    img {
      height: 400px;
      margin: 0 auto;
    }
  }

  .carousel-caption {
    bottom: 0;
  }

  .carousel-indicators {
    li {
      background-color: #999;
      height: 20px;
      width: 20px;
      border-radius: 50%;
    }
  }

  .carousel-caption {
    h5 {
      color: black;
      text-shadow: 1px 1px 1px white;
    }
    p {
      color: black;
      text-shadow: 1px 1px 1px white;
    }
  }
}

.item-page {
  .banner-caption {
    top: auto !important;
    bottom: 0 !important;
  }

  .banner {
    .card {
      opacity: 0.75;
      background: white;
      border-radius: 10px;
      padding: 10px;
    }
  }
}

